*, 
*::after,
*::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
  
html{
  scroll-behavior: smooth;
}
  
.max-width{
  max-width: 1300px;
  width: 100%; 
  /* padding: 0 20px; */
  margin: auto;
}
  
body {
  font-family: 'Signika', sans-serif;
  min-height: 100vh;
  letter-spacing: 0.2em;
  text-transform: uppercase;
    
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* navbar styling */

.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 70px;
  color: rgb(0, 0, 0);
  transition: all 0.3s ease;
  z-index: 1;

  /* overflow: hidden; */
}

.navbar.sticky{
  padding: 15px 0;
  background: rgb(70, 0, 150);
}

.nav{
  display: flex;
  justify-content: center;
  list-style: none;
}

.container a:hover{
  color: #fff;
}

.container{
  position: fixed;
  top: 0;
  margin: 0 auto;
  padding: 1rem 2rem;
  background-color: none;
	text-align: center;
}

.container a{
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin: 0px 10px;
  padding: 5px 10px;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

.navbar a:before, .navbar a:after{
  position: absolute;
  opacity: 0;
  width: 0%;
  height: 2px;
  content: '';
  background: rgb(255, 255, 255);
  transition: all 0.3s;
}

.navbar a:before{
  left: 0px;
  top: 0px;
}

.navbar a:after{
  right: 0px;
  bottom: 0px;
}

.navbar a:hover:before, .navbar a:hover:after{
    opacity: 1;
    width: 100%;
}


/* common */

a{
  color: rgb(0, 0, 0);

}

/* Pages styling */
 
.pages{
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
}


/* home styling */
.home{
  background: rgb(0,38,177);
  background: -moz-linear-gradient(0deg, rgba(0,38,177,1) 0%, rgba(224,45,253,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(0,38,177,1) 0%, rgba(224,45,253,1) 100%);
  background-image: linear-gradient(0deg, rgba(0,38,177,1) 0%, rgba(224,45,253,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0026b1",endColorstr="#e02dfd",GradientType=1);

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.home h1{
  font-size: 2rem;
  margin-bottom: 5rem;
}

.home p{
  position: absolute;
  justify-content: center;
  align-items: center;
}

/* about me styling */

.about{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  padding: 10px;
}
/* self-portrait */

.about img{
  margin-top: 5rem;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.about .row{
  display: flex;
  /* height: 65px; */
  align-items: center;
}


/* about card */

.about .card{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
}

.about .column-left{
  width: 100%;
  padding: 1rem 2rem;
  /* margin-bottom: 10rem; */
  text-align: center;
}

.about .title{
  text-align: center;
  padding: 1.5rem 2rem;
}


.icon-links{
  /* margin-top: -9rem; */
  font-size: 2rem;
}

.fa-file-pdf:hover,
.fa-github:hover,
.fa-linkedin:hover{
  color: #0000a1;
}




/* project */
.project h1{
  text-align: center;
}

.project-pages{
  min-height: 100vh;
  padding: 10px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.project a{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

video{
  max-width: 100%;
  height: auto;
}


/* contact */
.contact{
  background: #7F7FD5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact .card{
  text-align: center;
  padding: 1rem 2rem;
}

.contact-content{
  padding: 2rem;
}

.contact .row{
  padding: 2.5rem;
}

/* card */
/* .flip-card-container */
.flip-card-container {
  --hue: 150;
  --primary: hsl(var(--hue), 50%, 50%);
  --white-1: hsl(0, 0%, 90%);
  --white-2: hsl(0, 0%, 80%);
  --dark: hsl(var(--hue), 25%, 10%);
  --grey: hsl(0, 0%, 50%);

  width: 350px;
  height: 450px;
  margin: 20px;

  perspective: 1000px;
}

/* .flip-card */
.flip-card {
  width: inherit;
  height: inherit;

  position: relative;
  transform-style: preserve-3d;
  transition: .6s .1s;
}

/* hover and focus-within states */
.flip-card-container:hover .flip-card,
.flip-card-container:focus-within .flip-card {
  transform: rotateY(180deg);
}

/* .card-... */
.card-front,
.card-back {
  width: 100%;
  height: 100%;
  border-radius: 24px;

  background: var(--dark);
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;

  backface-visibility: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* .card-front */
.card-front {
  transform: rotateY(0deg);
  z-index: 2;
}

/* .card-back */
.card-back {
  transform: rotateY(180deg);
  z-index: 1;
}

/* figure */
figure {
  z-index: -1;
}

/* figure, .img-bg */
figure,
.img-bg {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

/* img */
img {
  background: center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  border-radius: 24px;
}

/* figcaption */
figcaption {
  display: block;

  width: auto;
  margin-top: 12%;
  padding: 8px 22px;

  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 2px;
  word-spacing: 6px;
  text-align: right;

  position: absolute;
  top: 0;
  right: 12px;

  color: var(--white-1);
  background: hsla(var(--hue), 25%, 10%, .5);
}

/* .img-bg */
.img-bg {
  background: hsla(var(--hue), 25%, 10%, .5);
}

.card-front .img-bg {
  clip-path: polygon(0 20%, 100% 40%, 100% 100%, 0 100%);
}

.card-front .img-bg::before {
  content: "";

  position: absolute;
  top: 34%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(18deg);

  width: 100%;
  height: 6px;
  border: 1px solid var(--primary);
  border-left-color: transparent;
  border-right-color: transparent;

  transition: .1s;
}

.card-back .img-bg {
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 60%);
}

/* hover state */
.flip-card-container:hover .card-front .img-bg::before {
  width: 6px;
  border-left-color: var(--primary);
  border-right-color: var(--primary);
}

/* ul */
.project ul {
  padding-top: 20%;
  margin: 0 auto;
  width: 70%;
  height: 100%;

  list-style: none;
  color: var(--white-1);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* li */
.project li {
  width: 70%;
  margin-top: 12px;
  padding-bottom: 12px;

  font-size: 1.1rem;
  text-align: center;

  position: relative;
}

.project li:nth-child(2n) {
  color: var(--white-2);
}

.project li:not(:last-child)::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 0;

  width:  100%;
  height: 1px;

  background: currentColor;
  opacity: .2;
}

/* button */
button {
  font-family: inherit;
  font-weight: bold;
  color: var(--white-1);

  letter-spacing: 2px;

  padding: 9px 20px;
  border: 1px solid var(--grey);
  border-radius: 1000px;
  background: transparent;
  transition: .3s;

  cursor: pointer;
}

button:hover,
button:focus {
  color: var(--primary);
  background: hsla(var(--hue), 25%, 10%, .2);
  border-color: currentColor;
}

button:active {
  transform: translate(2px);
}

/* .design-container */
.design-container {
  --tr: 90;
  --op: .5;

  width: 100%;
  height: 100%;

  background: transparent;
  position: absolute;
  top: 0;
  left: 0;

  pointer-events: none;
}

/* .design */
.design {
  display: block;

  background: var(--grey);
  position: absolute;

  opacity: var(--op);
  transition: .3s;
}

.design--1,
.design--2,
.design--3,
.design--4 {
  width: 1px;
  height: 100%;
}

.design--1,
.design--2 {
  top: 0;
  transform: translateY(calc((var(--tr) - (var(--tr) * 2)) * 1%))
}

.design--1 {
  left: 20%;
}

.design--2 {
  left: 80%;
}

.design--3,
.design--4 {
  bottom: 0;
  transform: translateY(calc((var(--tr) + (var(--tr) - var(--tr))) * 1%))
}

.design--3 {
  left: 24%;
}

.design--4 {
  left: 76%;
}

.design--5,
.design--6,
.design--7,
.design--8 {
  width: 100%;
  height: 1px;
}

.design--5,
.design--6 {
  left: 0;
  transform: translateX(calc((var(--tr) - (var(--tr) * 2)) * 1%));
}

.design--5 {
  top: 41%;
}

.design--6 {
  top: 59%;
}

.design--7,
.design--8 {
  right: 0;
  transform: translateX(calc((var(--tr) + (var(--tr) - var(--tr))) * 1%))
}

.design--7 {
  top: 44%;
}

.design--8 {
  top: 56%;
}

/* states */
button:hover+.design-container,
button:active+.design-container,
button:focus+.design-container {
  --tr: 20;
  --op: .7;
}

.abs-site-link {
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: hsla(0, 0%, 100%, .6);
  font-size: 16px;
}

/* responsive */

@media(max-width: 800px){
  .container a{
    font-size: 0.7rem;
  }

  .home, .about, .project, .contact{
    font-size: 0.5rem;
  }

  .home h1{
    font-size: 1rem;
  }

  .about img{
    height: 150px;
    width: 150px;
  }

  .flip-card-container {
  
    width: 290px;
    height: 260px;
    margin: 0.5rem;
  }

  .icon-links{
    font-size: 1rem;
  }
}
@media(max-width: 600px){
  .container a{
    font-size: 0.7rem;
  }

  .home, .about, .project, .contact{
    font-size: 0.5rem;
  }

  .home h1{
    font-size: 1rem;
  }

  .about img{
    height: 150px;
    width: 150px;
  }

  .flip-card-container {
  
    width: 290px;
    height: 260px;
    margin: 0.5rem;
  }

  .icon-links{
    font-size: 1rem;
  }
}

@media(max-width: 400px){
  .home, .about, .project, .contact{
    font-size: 0.5rem;
  }

  .home h1{
    font-size: 1rem;
  }

  .about img{
    height: 150px;
    width: 150px;
  }

  .flip-card-container {
  
    width: 250px;
    height: 250px;
    margin: 0.5rem;

  }
  
  /* .pages{
    max-width: 500px;
  } */
  
  
  .about{
    padding: 0 15px;
    height: 50vh;
  }

  /* .about .card{
    margin-left: 2rem;
  } */
  
  .project{
    padding: 0 60px;
  }

  .container a{
    font-size: 0.55rem;
  }

  .navbar{
    /* margin-right: 20px; */
    letter-spacing: 2px;
  }
  
  .navbar a{
    font-size: 0.4rem;
  }

  .navbar.sticky{
    padding: 10px 5px;
    height: 40px;
    width: 375px;
  }


}

@media(max-width: 300px){
  .container a{
    font-size: 0.30rem;
  }
}